---
import Launches from '../components/Launches.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Space X Launches">
	<h1 class="text-white text-5xl text-center">
		Woops Not found
	</h1>
</Layout>

<style>

</style>
