---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About the project">
	<h1>about the project</h1>
	<p>The SpaceX launches project is a demo for the astro course</p>
</Layout>

<style>

</style>
